<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;
            background-color: #fcfafc;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <img src="{{ url_for('static', filename='error.gif') }}" alt="Error GIF">
    <h1>The error occured. Please, try again later</h1>
</body>
</html>
